@use "variables";
@use "mixin";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Droid Sans", "Heveltica", Arial;
  font-size: 16px;
  color: map-get(variables.$colors, $key: "wet-asphalt");
}

a {
  color: map-get($map: variables.$colors, $key: "midnight-blue");
  transition: color 200ms ease;
  text-decoration: underline;
  &:hover {
    color: map-get($map: variables.$colors, $key: "logocolor");
  }
}

a:focus-visible,
button:focus-visible {
  outline: 2px dotted currentColor;
  outline-offset: 3px;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

h1,
h2 {
  font-family: "Roboto Light", "Droid Sans", "Heveltica", Arial;
  color: map-get($map: variables.$colors, $key: "belize-hole");
}

h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  line-height: 35px;
  &:nth-child(1) {
    margin-top: 6px;
  }
  &:nth-child(2) {
    margin-top: 1rem;
    letter-spacing: 2px;
    color: currentColor;
  }
}

h2 {
  font-size: 2rem;
}

header {
  position: relative;
  display: grid;
  grid-template-columns: 5% 95%;
  margin: 20px auto 0;
  padding-bottom: 20px;
  border-bottom: 1px solid map-get($map: variables.$colors, $key: "silver");
  nav {
    justify-self: start;
    margin-left: 20px;
  }
  .nav-open {
    margin-top: -5px;
    .togglemenu__bar {
      &:nth-child(1) {
        @include mixin.crossBurger(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        @include mixin.crossBurger(-45deg);
      }
    }
  }
  .logo {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    justify-self: center;
    @include mixin.mobile-only() {
      flex-direction: column;
    }
  }
  h2 {
    letter-spacing: -1.2px;
    color: currentColor;
    font-size: 1.8rem;
  }
  figcaption {
    color: map-get($map: variables.$colors, $key: "logocolor");
    text-align: center;
    letter-spacing: 1px;
  }
  @include mixin.mobile-only() {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
}

.togglemenu {
  position: fixed;
  cursor: pointer;
  z-index: 99999;
  width: 35px;
  height: 30px;
  @include mixin.mobile-only() {
    width: 25px;
    left: 10px;
    top: 15px;
  }
  &__bar {
    display: block;
    width: 35px;
    height: 5px;
    margin-top: 4px;
    border-radius: 10px;
    background-color: currentColor;
    transition: transform 300ms ease;
    @include mixin.mobile-only() {
      width: 25px;
    }
  }
}

.burgermenu {
  position: fixed;
  top: 65px;
  width: 360px;
  z-index: 99999;
  background-color: map-get($map: variables.$colors, $key: "white");
  padding: 5px;
  border-left: 5px solid map-get($map: variables.$colors, $key: "silver");
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease;
  &__item {
    font-size: 2rem;
    font-family: "Roboto Light", "Droid Sans", "Heveltica", Arial;
    line-height: 35px;
    &.active {
      color: map-get($map: variables.$colors, $key: "logocolor");
    }
  }

  li {
    margin-left: 5px;
  }

  a {
    text-decoration: none;
    color: map-get($map: variables.$colors, $key: "belize-hole");
    &:hover {
      color: map-get($map: variables.$colors, $key: "logocolor");
    }
  }
  @include mixin.mobile-only() {
    left: 10px;
    top: 50px;
  }
}

p {
  line-height: 25px;
}

.container {
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    min-width: 280px;
    height: 500px;
    padding: 10px 10px 20px;
    border-radius: 5px;
    background-color: map-get($map: variables.$colors, $key: "clouds");
    height: auto;
  }
  svg {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    vertical-align: middle;
    &.opquast {
      width: 5em;
    }
  }
  li {
    line-height: 25px;
  }
}

.skills {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-family: "Roboto Medium", "Droid Sans", "Heveltica", Arial;
    text-transform: uppercase;
    color: map-get(variables.$colors, $key: "midnight-blue");
  }
  &__star {
    text-align: right;
    color: currentColor;
  }
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  @include mixin.mobile-only() {
    padding: 20px 20px 20px 30px;
  }
  h2 {
    font-family: "Roboto Regular", "Droid Sans", "Heveltica", Arial;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .section__skills-title {
    margin-left: auto;
    margin-right: auto;
  }

  .slider-about {
    position: relative;

    p {
      position: absolute;
      font-size: 3rem;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .about__content {
    h3 {
      margin-top: 0.5rem;
      font-weight: 700;
    }
    p {
      font-size: 1.1rem;
    }
    ul > li {
      line-height: 25px;
      list-style-type: square;
      color: map-get(variables.$colors, $key: "logocolor");
      margin-left: 2rem;
      span {
        color: map-get(variables.$colors, $key: "wet-asphalt");
      }
    }
  }
  svg {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    vertical-align: middle;
    &.opquast {
      width: 5em;
    }
  }
}

.customers__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  gap: 30px;
  justify-content: center;
}

.customers {
  &__item {
    position: relative;
    background-color: map-get($map: variables.$colors, $key: "clouds");
    width: 300px;
    height: 169px;
    border: 1px solid map-get($map: variables.$colors, $key: "silver");
    overflow: hidden;

    figure {
      position: relative;
      figcaption {
        position: absolute;
        width: 100%;
        top: 140px;
        padding: 5px 0;
        opacity: 0.9;
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
        color: map-get($map: variables.$colors, $key: "belize-hole");
        background-color: map-get($map: variables.$colors, $key: "white");
      }
      img {
        width: 100%;
        object-fit: cover;
        object-position: 0;
      }
    }
    &:hover .customers__description {
      transform: translateY(0);
    }
  }
  &__description {
    position: absolute;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 280px;
    height: 149px;
    padding: 10px;
    z-index: 20;
    top: 0;
    background-color: map-get($map: variables.$colors, $key: "white");
    transform: translateY(100%);
    transition: transform 500ms ease;
    h3 {
      text-transform: uppercase;
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }
    p {
      line-height: 18px;
    }
    svg {
      width: 1.2rem;
    }
  }
}

.contact__content {
  padding-bottom: 60vh;
  @include mixin.mobile-only() {
    padding-bottom: 50vh;
  }

  .contact__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    grid-template-rows: 1fr;
    gap: 30px;
    .contact__name {
      font-size: 1.3rem;
      text-transform: uppercase;
    }
    address {
      margin: 20px 0;
    }
    .contact__col {
      &:nth-child(2) {
        p {
          line-height: 40px;
        }
      }
      svg {
        margin-right: 0.5rem;
      }
      .phone-icon {
        transform: rotate(100deg);
        fill: map-get($map: variables.$colors, $key: "belize-hole");
      }
    }
  }
}

.cta {
  display: flex;
  align-items: center;
  @include mixin.mobile-only() {
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 0;
  }
  a {
    display: flex;
    align-items: center;
    min-width: 220px;
    max-width: 220px;
    @include mixin.mobile-only() {
      margin-left: 0;
    }
    padding: 0.2rem 1rem;
    margin-left: 1rem;
    background-color: map-get($map: variables.$colors, $key: "logocolor");
    color: map-get($map: variables.$colors, $key: "white");
    text-align: center;
    font-size: 1.3rem;
    line-height: 25px;
    font-family: "Roboto Medium", "Droid Sans", "Heveltica", Arial;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 200ms ease-in-out;
    text-transform: uppercase;
    &:hover {
      background: map-get($map: variables.$colors, $key: "belize-hole");
    }
  }
  svg {
    transform: rotate(100deg) scale(0.7);
    margin-right: 0.3rem;
    fill: map-get($map: variables.$colors, $key: "white");
  }
}

footer {
  height: 10rem;
  .arrow-up {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    span {
      margin-right: 0.5rem;
    }
    &:hover {
      color: map-get($map: variables.$colors, $key: "belize-hole");
    }
    &:hover svg {
      fill: map-get($map: variables.$colors, $key: "belize-hole");
    }
  }
  svg {
    width: 2em;
    height: 1.5em;
    transform: scale(1.5);
    &:hover {
      fill: map-get($map: variables.$colors, $key: "belize-hole");
    }
  }
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.hidden {
  display: none;
}

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
