@use "variables";
@use "mixin";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: map-get(variables.$colors, $key: "wet-asphalt");
}

a {
  text-decoration: none;
  color: map-get($map: variables.$colors, $key: "belize-hole");
  transition: color 200ms ease;
  &:hover {
    color: map-get($map: variables.$colors, $key: "logocolor");
  }
}

a:focus-visible,
button:focus-visible {
  outline: 2px dotted currentColor;
  outline-offset: 3px;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

h1,
h2 {
  font-family: "Roboto Light";
  color: map-get($map: variables.$colors, $key: "belize-hole");
}
h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  line-height: 35px;
  &:nth-child(1) {
    margin-top: 6px;
  }
  &:nth-child(2) {
    margin-top: 1rem;
    letter-spacing: 2px;
    color: currentColor;
  }
}
h2 {
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid map-get($map: variables.$colors, $key: "silver");
  h2 {
    letter-spacing: -1.2px;
    color: map-get($map: variables.$colors, $key: "wet-asphalt");
    font-size: 1.8rem;
  }
  figcaption {
    color: map-get($map: variables.$colors, $key: "logocolor");
    text-align: center;
    letter-spacing: 1px;
  }
  @include mixin.mobile-only() {
    flex-direction: column;
    align-items: center;
  }
}

p {
  line-height: 25px;
}

main {
  position: relative;
}

.container > div {
  width: 280px;
  min-width: 280px;
  height: 500px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // box-shadow: 3px 3px 3px map-get($map: variables.$colors, $key: "silver");
}

.container {
  .item1 {
    height: 170px;
  }
  .item2 {
    height: 150px;
  }
  .item3 {
    height: 150px;
  }
  .item4 {
    height: 220px;
  }
  .item5 {
    height: 230px;
  }
  .item6 {
    height: 370px;
  }
  .item7 {
    height: 100px;
  }
  .item8 {
    height: 100px;
  }
  .item9 {
    height: 300px;
  }
  .item10 {
    height: 400px;
  }
  .item {
    background-color: map-get($map: variables.$colors, $key: "clouds");
  }
  svg {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    vertical-align: middle;
    &.opquast {
      width: 5em;
    }
  }
  li {
    line-height: 25px;
  }
}

.skills {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-family: "Roboto Medium", sans-serif;
    text-transform: uppercase;
    color: map-get(variables.$colors, $key: "midnight-blue");
  }
  &__star {
    text-align: right;
    color: map-get(variables.$colors, $key: "wet-asphalt");
  }
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  h2 {
    font-family: "Roboto Regular", sans-serif;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .section__skills-title {
    margin-left: auto;
    margin-right: auto;
  }
  svg {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    vertical-align: middle;
    &.opquast {
      width: 5em;
    }
  }
}

.customers__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  gap: 30px;
  justify-content: center;
}

.customers {
  &__item {
    position: relative;
    background-color: map-get($map: variables.$colors, $key: "clouds");
    width: 300px;
    height: 169px;
    border: 1px solid map-get($map: variables.$colors, $key: "silver");
    overflow: hidden;

    figure {
      position: relative;
      figcaption {
        position: absolute;
        width: 100%;
        top: 140px;
        padding: 5px 0;
        opacity: 0.9;
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
        color: map-get($map: variables.$colors, $key: "belize-hole");
        background-color: map-get($map: variables.$colors, $key: "clouds");
      }
      img {
        width: 100%;
        object-fit: cover;
        object-position: 0;
      }
    }
    &:hover .customers__description {
      transform: translateY(0);
    }
  }
  &__description {
    position: absolute;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 280px;
    height: 149px;
    padding: 10px;
    z-index: 20;
    top: 0;
    background-color: map-get($map: variables.$colors, $key: "clouds");
    transform: translateY(100%);
    transition: transform 500ms ease;
    h3 {
      text-transform: uppercase;
      font-size: 1.1rem;
    }
    p {
      line-height: 18px;
    }
    svg {
      width: 1.2rem;
    }
  }
}
.contact__content {
  padding-bottom: 890px;
  @include mixin.mobile-only() {
    padding-bottom: 50vh;
  }

  .contact__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    column-gap: 7rem;
    row-gap: 3rem;
    justify-content: center;
    .contact__name {
      font-size: 1.3rem;
      text-transform: uppercase;
    }
    .contact__col {
      &:nth-child(2) {
        p {
          line-height: 40px;
        }
      }
    }
  }
}

aside {
  position: fixed;
  top: 20px;
  margin-left: 20px;
  z-index: 99999;
  @include mixin.mobile-only() {
    margin-left: 5px;
    top: 26px;
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  row-gap: 5px;
}

.nav-open {
  position: relative;
  .togglemenu__bar {
    &:nth-child(1) {
      @include mixin.crossBurger(45deg);
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      @include mixin.crossBurger(-45deg);
    }
  }
}

.togglemenu {
  cursor: pointer;
  width: 35px;
  height: 30px;
  @include mixin.mobile-only() {
    width: 25px;
  }
  &__bar {
    display: block;
    width: 35px;
    height: 5px;
    margin-top: 4px;
    border-radius: 10px;
    background-color: map-get($map: variables.$colors, $key: "wet-asphalt");
    transition: transform 300ms ease;
    @include mixin.mobile-only() {
      width: 25px;
    }
  }
}

.burgermenu {
  position: relative;
  top: 20px;
  background-color: map-get($map: variables.$colors, $key: "white");
  padding: 5px;
  border-left: 5px solid map-get($map: variables.$colors, $key: "silver");
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease;
  &__item {
    font-size: 1.6rem;
    font-family: "Roboto Light";
    &.active {
      color: map-get($map: variables.$colors, $key: "logocolor");
    }
  }
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  opacity: 0;
  visibility: hidden;
}
