.cube {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: purple;
  width: 400px;
}
.cube-inside {
  position: absolute;
  top: 40px;
//   left: 50px;
//   background-color: green;
}

.wrapper{
    position: relative;
}
.redline{
    width: 150px;
    height: 25px;
    border-radius: 15px;
    display: block;
    background-color: #DA2E35;
}
