html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Droid Sans", "Heveltica", Arial;
  font-size: 16px;
  color: hsl(210, 29%, 29%);
}

a {
  color: hsl(210, 29%, 24%);
  transition: color 200ms ease;
  text-decoration: underline;
}
a:hover {
  color: hsl(358, 70%, 52%);
}

a:focus-visible,
button:focus-visible {
  outline: 2px dotted currentColor;
  outline-offset: 3px;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

h1,
h2 {
  font-family: "Roboto Light", "Droid Sans", "Heveltica", Arial;
  color: hsl(204, 64%, 44%);
}

h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  line-height: 35px;
}
h1:nth-child(1) {
  margin-top: 6px;
}
h1:nth-child(2) {
  margin-top: 1rem;
  letter-spacing: 2px;
  color: currentColor;
}

h2 {
  font-size: 2rem;
}

header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(204, 8%, 76%);
}
header h2 {
  letter-spacing: -1.2px;
  color: currentColor;
  font-size: 1.8rem;
}
header figcaption {
  color: hsl(358, 70%, 52%);
  text-align: center;
  letter-spacing: 1px;
}
@media (max-width: 599px) {
  header {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
}

p {
  line-height: 25px;
}

main {
  position: relative;
}

.container > div {
  width: 280px;
  min-width: 280px;
  height: 500px;
  padding: 10px;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.container .item1 {
  height: 170px;
}
.container .item2 {
  height: 150px;
}
.container .item3 {
  height: 150px;
}
.container .item4 {
  height: 220px;
}
.container .item5 {
  height: 230px;
}
.container .item6 {
  height: 390px;
}
.container .item7 {
  height: 100px;
}
.container .item8 {
  height: 100px;
}
.container .item9 {
  height: 300px;
}
.container .item10 {
  height: 400px;
}
.container .item {
  background-color: hsl(192, 15%, 94%);
}
.container svg {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  vertical-align: middle;
}
.container svg.opquast {
  width: 5em;
}
.container li {
  line-height: 25px;
}

.skills__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.skills__title {
  font-family: "Roboto Medium", "Droid Sans", "Heveltica", Arial;
  text-transform: uppercase;
  color: hsl(210, 29%, 24%);
}
.skills__star {
  text-align: right;
  color: currentColor;
}

section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 599px) {
  section {
    padding: 20px 20px 20px 30px;
  }
}
section h2 {
  font-family: "Roboto Regular", "Droid Sans", "Heveltica", Arial;
  margin-bottom: 1rem;
  font-size: 3rem;
}
section .section__skills-title {
  margin-left: auto;
  margin-right: auto;
}
section .about__content p {
  font-size: 1.1rem;
}
section .about__content ul > li {
  line-height: 25px;
  list-style-type: square;
  color: hsl(358, 70%, 52%);
  margin-left: 2rem;
}
section .about__content ul > li span {
  color: hsl(210, 29%, 29%);
}
section svg {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  vertical-align: middle;
}
section svg.opquast {
  width: 5em;
}

.customers__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  gap: 30px;
  -ms-flex-pack: center;
      justify-content: center;
}

.customers__item {
  position: relative;
  background-color: hsl(192, 15%, 94%);
  width: 300px;
  height: 169px;
  border: 1px solid hsl(204, 8%, 76%);
  overflow: hidden;
}
.customers__item figure {
  position: relative;
}
.customers__item figure figcaption {
  position: absolute;
  width: 100%;
  top: 140px;
  padding: 5px 0;
  opacity: 0.9;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  color: hsl(204, 64%, 44%);
  background-color: hsl(192, 15%, 94%);
}
.customers__item figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0;
     object-position: 0;
}
.customers__item:hover .customers__description {
  transform: translateY(0);
}
.customers__description {
  position: absolute;
  font-size: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 280px;
  height: 149px;
  padding: 10px;
  z-index: 20;
  top: 0;
  background-color: hsl(192, 15%, 94%);
  transform: translateY(100%);
  transition: transform 500ms ease;
}
.customers__description h3 {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.customers__description p {
  line-height: 18px;
}
.customers__description svg {
  width: 1.2rem;
}

.contact__content {
  padding-bottom: 75vh;
}
@media (max-width: 599px) {
  .contact__content {
    padding-bottom: 50vh;
  }
}
.contact__content .contact__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  -moz-column-gap: 7rem;
       column-gap: 7rem;
  row-gap: 3rem;
  -ms-flex-pack: center;
      justify-content: center;
}
.contact__content .contact__grid .contact__name {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.contact__content .contact__grid .contact__col:nth-child(2) p {
  line-height: 40px;
}
.contact__content .contact__grid .contact__col svg {
  margin-right: 0.5rem;
}
.contact__content .contact__grid .contact__col .phone-icon {
  transform: rotate(100deg);
  fill: hsl(204, 64%, 44%);
}

aside {
  position: fixed;
  top: 20px;
  margin-left: 20px;
  z-index: 99999;
}
@media (max-width: 599px) {
  aside {
    margin-left: 5px;
    top: 26px;
  }
}

nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: end;
      justify-content: flex-end;
  row-gap: 5px;
}

.nav-open {
  position: relative;
}
.nav-open .togglemenu__bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  top: 15px;
}
.nav-open .togglemenu__bar:nth-child(2) {
  display: none;
}
.nav-open .togglemenu__bar:nth-child(3) {
  position: absolute;
  transform: rotate(-45deg);
  top: 15px;
}

.togglemenu {
  cursor: pointer;
  width: 35px;
  height: 30px;
}
@media (max-width: 599px) {
  .togglemenu {
    width: 25px;
  }
}
.togglemenu__bar {
  display: block;
  width: 35px;
  height: 5px;
  margin-top: 4px;
  border-radius: 10px;
  background-color: currentColor;
  transition: transform 300ms ease;
}
@media (max-width: 599px) {
  .togglemenu__bar {
    width: 25px;
  }
}

.burgermenu {
  position: relative;
  top: 10px;
  background-color: hsl(0, 0%, 100%);
  padding: 5px;
  border-left: 5px solid hsl(204, 8%, 76%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease;
}
.burgermenu__item {
  font-size: 2rem;
  font-family: "Roboto Light", "Droid Sans", "Heveltica", Arial;
  line-height: 35px;
}
.burgermenu__item.active {
  color: hsl(358, 70%, 52%);
}
.burgermenu a {
  text-decoration: none;
  color: hsl(204, 64%, 44%);
}
.burgermenu a:hover {
  color: hsl(358, 70%, 52%);
}

@media (max-width: 599px) {
  .cta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-top: 1rem;
    margin-left: 0;
  }
}
.cta a {
  display: inline-block;
  padding: 0.2rem 1rem;
  margin-left: 1rem;
  background-color: hsl(6, 63%, 46%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 1.3rem;
  line-height: 25px;
  font-family: "Roboto Medium", "Droid Sans", "Heveltica", Arial;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 200ms ease-in-out;
  text-transform: uppercase;
}
@media (max-width: 599px) {
  .cta a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-left: 0;
  }
}
.cta a:hover {
  background: hsl(204, 64%, 44%);
}
.cta svg {
  transform: rotate(100deg) scale(0.7);
  margin-right: 0.3rem;
  fill: hsl(0, 0%, 100%);
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.error404 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  row-gap: 2rem;
}/*# sourceMappingURL=global.css.map */